<li><a href="index.html">Home</a></li>
<li><a href="events.html">Events</a></li>
<li><a href="options.html">Options</a></li>
<li><a href="dataquery.html">DataQuery</a></li>
<li><a href="history.html">Why</a></li>
<li><a href="#">API</a></li>
<li><a href="https://github.com/lavacharts/lava.js">Github</a></li>
