<li><a href="index.html">Home</a></li>
<li><a href="multichart.html">Multi</a></li>
<li><a href="events.html">Events</a></li>
<li><a href="options.html">Options</a></li>
<li><a href="formats.html">Formats</a></li>
<li><a href="dataquery.html">DataQuery</a></li>
<li><a href="async-data.html">Async Data</a></li>
<li><a href="history.html">Why</a></li>
<li><a href="api/index.html">API</a></li>
<li><a href="https://github.com/lavacharts/lava.js">Github</a></li>