<!doctype html>
<html>
<head>
  {{> partials/head }}
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    {{> partials/navbar }}
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    {{> partials/banner }}
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <!-- #region Code Box -->
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Listen to Events
            </h2>
            <h5 class="center">interactive charts</h5>
            <pre class="language-javascript">
              <code>
const chartJson = {
    label: 'Test',
    type: 'PieChart',
    elementId: 'chart_div',
    data: (data) => {
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        return data;
    }
};

const chart = lava.store(chartJson);

chart.on('ready', function() {
    console.log(this.id + ' is ready!');
});

chart.on('select', function (chart, data) {
    const selectedItem = chart.getSelection()[0];
    if (selectedItem) {
        const topping = data.getValue(selectedItem.row, 0);
        alert('The user selected ' + topping);
    }
});

lava.run();</code>
            </pre>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Chart Box -->
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Perform Actions
            </h2>
            <h5 class="center"> google!</h5>
            <pre class="language-html">
              <code>
&#x3C;div id=&#x22;chart_div&#x22;&#x3E;&#x3C;/div&#x3E;</code>
            </pre>
            <div id="chart_div"></div>
          </div>
        </div>
        <!-- #endregion -->

      <!--
          <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      -->
      </div><!-- </div class="row"> -->
    </div>

    <div class="section">
      <div class="row">
      </div>
    </div>
  </div>

  <footer class="page-footer orange">
      {{> partials/footer }}
  </footer>

</body>
</html>
