<!doctype html>
<html>
<head>
  {{> partials/head }}
</head>

<body>
  {{> layout/navbar }}

  <div class="section no-pad-bot" id="index-banner">
    {{> partials/banner }}
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <!-- #region Code Box -->
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Easy Syntax
            </h2>
            <h5 class="center">clean & consise</h5>
            <pre class="language-javascript">
              <code>
var chartJson = {
  label: 'Test',
  type: 'PieChart',
  elementId: 'chart_div',
  data: [
    ['Task', 'Hours per Day'],
    ['Work',     11],
    ['Eat',      2],
    ['Commute',  2],
    ['Watch TV', 2],
    ['Sleep',    7]
  ],
  options: {
    title: 'My Daily Activities'
  }
};

lava.store(chartJson);
lava.run();</code>
            </pre>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region Chart Box -->
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Easy Charts
            </h2>
            <h5 class="center">thanks google!</h5>
            <pre class="language-html">
              <code>
&#x3C;div id=&#x22;chart_div&#x22;&#x3E;&#x3C;/div&#x3E;</code>
            </pre>
            <div id="chart_div"></div>
          </div>
        </div>
        <!-- #endregion -->

      </div><!-- </div class="row"> -->
    </div>

    <div class="section">
      <div class="row">
      </div>
    </div>
  </div>

  {{> layout/footer }}
</body>
</html>
