<!doctype html>
<html>
<head>
    <title>Lava.js | Events</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="flex-center position-ref">
    <div class="content">
        <div class="title">
            LavaJs v4.0
        </div>
        <p>Google Charts, made simple.</p>
        <p>Event integration (click a slice!)</p>
        <p><a href="index.html">Basic</a>, <a href="formats.html">Formats</a>, <a href="dataquery.html">Remote Data</a></p>

        <div>
            <div class="align-left float">
                    <pre><code>
const chartJson = {
    label: 'Test',
    type: 'PieChart',
    elementId: 'chart_div',
    data: (data) => {
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        return data;
    }
};

const chart = lava.store(chartJson);

chart.on('ready', function() {
    console.log(this.uuid + ' is ready!');
});

chart.on('select', function (chart, data) {
    const selectedItem = chart.getSelection()[0];
    if (selectedItem) {
        const topping = data.getValue(selectedItem.row, 0);
        alert('The user selected ' + topping);
    }
});

lava.run();
                    </code></pre>
            </div>
            <div class="float" style="width: 400px;">
                    <pre><code>
&#x3C;div id=&#x22;chart_div&#x22;&#x3E;&#x3C;/div&#x3E;
                    </code></pre>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const chartJson = {
        label: 'Test',
        type: 'PieChart',
        elementId: 'chart_div',
        data: (data) => {
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            return data;
        }
    };

    var chart = lava.store(chartJson);

    chart.on('ready', function() {
        alert(this.uuid + ' is ready!');
    });

    chart.on('select', function (chart, data) {
        const selectedItem = chart.getSelection()[0];
        if (selectedItem) {
            const topping = data.getValue(selectedItem.row, 0);
            alert('The user selected ' + topping);
        }
    });

    lava.run();
</script>
</body>
</html>
