<!doctype html>
<html>
<head>
  {{> partials/head }}
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    {{> partials/navbar }}
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Dashboards</h1>
      <div class="row center">
        <h5 class="header col s12 light">Filter data with interactive controls</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width z-depth-1">
            <li class="tab col s3"><a href="#one-to-one">One To One</a></li>
            <li class="tab col s3"><a class="active" href="#one-to-many">One to Many</a></li>
            <li class="tab col s3"><a href="#many-to-one">Many To One</a></li>
            <li class="tab col s3"><a href="#many-to-many">Many To Many</a></li>
          </ul>
        </div>

        <div id="one-to-one" class="col s12">
          {{> dashboards/one-to-one }}
        </div>
        <div id="one-to-many" class="col s12">
          {{> dashboards/one-to-many }}
        </div>
        <div id="many-to-one" class="col s12">
          {{> dashboards/many-to-one }}
        </div>
        <div id="many-to-many" class="col s12">
          {{> dashboards/many-to-many }}
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer">
      {{> partials/footer }}
  </footer>
  <script>
    lava.draw();

    jQuery($ => {
      const dashTypes = [
        "one-to-one",
        "one-to-many",
        "many-to-one",
        "many-to-many"
      ];

      dashTypes.forEach(dashType => {
        $.get(`${dashType}.js?callback=?`, data => {
          $(`#${dashType}`).text(data.result);
        });
      });
    })
  </script>
</body>
</html>
