<div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Easy Syntax
            </h2>
            <h5 class="center">clean & consise</h5>
            <pre class="language-javascript">
              <code>
{{ exampleCode }}</code>
            </pre>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text">
                Quick Charts
            </h2>
            <h5 class="center">thanks google!</h5>
            <pre class="language-html">
              <code>
&lt;!--Div for the dashboard--&gt;
&lt;div id=&quot;dashboard_div&quot;&gt;
    &lt;!--Divs for each control and chart--&gt;
    &lt;div id=&quot;filter_div&quot;&gt;&lt;/div&gt;
    &lt;div id=&quot;chart_div&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code>
            </pre>
            <div id="chart_div"></div>
            <!--Div that will hold the dashboard-->
            <div id="dashboard_div">
              <!--Divs that will hold each control and chart-->
              <div id="filter_div"></div>
              <div id="chart_div"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
