<div class="row">
  <div class="icon-block">
    <h3 class="center light-blue-text">Many to Many</h3>
    <h6 class="center">Multiple Controls, Multiple Charts</h6>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="icon-block z-depth-1">
      <div class="icon-block-header">
        <h4 class="center amber-text">Script</h4>
      </div>
      <pre class="language-javascript">
        <code>
{{ exampleCode }}</code>
      </pre>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="icon-block z-depth-1">
      <div class="icon-block-header">
        <h4 class="center amber-text">Markup</h4>
      </div>
      <pre class="language-html"><code>
&lt;!--Div for the dashboard--&gt;
&lt;div id=&quot;many-to-many_dashboard_div&quot;&gt;
    &lt;!--Divs for each control and chart--&gt;
    &lt;div id=&quot;many-to-many_filter_div&quot;&gt;&lt;/div&gt;
    &lt;div id=&quot;many-to-many_pieChart_div&quot;&gt;&lt;/div&gt;
    &lt;div id=&quot;many-to-many_barChart_div&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <div class="icon-block z-depth-1">
      <div class="icon-block-header">
        <h4 class="center amber-text">Chart</h4>
      </div>
      <div id="many-to-many_dashboard_div">
        <div id="many-to-many_filter_div"></div>
        <div id="many-to-many_pieChart_div"></div>
        <div id="many-to-many_barChart_div"></div>
      </div>
    </div>
  </div>
</div>
