<!doctype html>
<html>

<head>
  {{> partials/head }}
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    {{> partials/navbar }}
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Events</h1>
      <div class="row center">
        <h5 class="header col s12 light">lets get interactive</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m6">
          <div class="icon-block z-depth-1">
            <div class="icon-block-header">
              <h2 class="center light-blue-text">Listen</h2>
              <h5 class="center">for events</h5>
            </div>
            <pre class="language-javascript">
              <code>
{{ exampleCode }}</code>
            </pre>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block z-depth-1">
            <div class="icon-block-header">
              <h2 class="center light-blue-text">React</h2>
              <h5 class="center">click a slice</h5>
            </div>
            {{> partials/chart-div }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    {{> partials/footer }}
  </footer>
</body>

</html>
